*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#main_container{
    display: flex;
    flex-direction: column;
}

/*  =================================================================  */

#header_container {
    display: flex;
    flex-direction: column;
    height:1300px;
    background-color: #5271FF;
}

#nav_bar {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap:30px;
    margin-top:30px;
    align-items:center;
    justify-content: space-between  ;
}

#logo_top {
    grid-column: 3/6;
    width: 100%;
    height: 100%;
}

#nav_bar_ul {
    grid-column: 6/11;
    display: flex;
    justify-content: space-between;
}

.nav_element {
    font-family: Lato;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

.nav_element a {
    color: white;
}
/*  =================================================================  */

.menu-btn {
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  display:none;
}
.menu-btn__burger {
  width: 50px;
  height: 6px;
  background: #FFDE88;
  border-radius: 5px;
  transition: all .2s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background: #FFDE88;
  border-radius: 5px;
  transition: all .2s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
    background: #75FFC6;
    transform: rotate(45deg) ;
}
.menu-btn.open .menu-btn__burger::after {
    background: #75FFC6;
    transform: rotate(-45deg);
}

/*  =================================================================  */

@media screen and (max-width: 1250px) {
    .nav_element {
        font-size:20px;
    }
    #header_content h1 {
        font-size:28px;
    }
    #unisvers_presentation {
        grid-column:2/12 !important;
        font-size:20px !important;
        text-align:center;
    }
    #diaporama {
        grid-column:2/12 !important;
    }
    .content {
        align-items: center;
        justify-content: center;
    }
}


@media screen and (max-width: 800px) {
    #logo_top {
        width:auto;
        height:auto;
        grid-column:2/8;
    }
    .menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column:10/12;
    }
    #nav_bar_ul {
        display:none;
        flex-direction: column;
    }
}

/*  =================================================================  */

#header_content {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap:30px;
    margin-top:50px;
    justify-items: center;
}

#title_header {
    width: 277px;
    font-family: Lato;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    color: #75FFC6;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    grid-column: 1/13;

}

/*  =================================================================  */

.content {
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap:30px;
    margin-top:50px;   
}


#unisvers_presentation {
    grid-column:3/6;
    color: white;
    font-family: Lato;
    font-size: 24px;
    line-height: 29px;
}


#diaporama {
    grid-column:6/11;
}


/*  =================================================================  */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    overflow: hidden;
    max-height: 500px;
  }

  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #FFDE88;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .slides img {
    max-width: 100%;
    max-height: 100%;
    padding: auto;
    margin: auto;
    display: block;
    }


.dots_container {
    text-align:center;
    position: relative;
    bottom:40px;
    }
  .active {
    background-color: #FFB800;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

/*  =================================================================  */

#second_container{
    bottom:50px;
    width:100%;
    bottom: 470px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap:30px;
    margin-top:50px;
    justify-items: center;
}

#activities_container {
    display: flex;
    flex-direction: column;
    width:100%;
    grid-column: 3/11;
    background-color: #FFFFFF;
    border-radius: 20px;
}


.title_cont {
    margin-top:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.title_b {
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 43px;
    color: #5474FA;
}

.below_title{
    margin-top:10px;
    width: 466px;
    height: 8px;
    background: #5474FA;
}

.activité_cont{
    margin-top:40px;
    width: 100%;
    max-height: 700px;
    display: flex;
}

.activité_presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 500px;
}

.activité_titre_y {
    font-family: "Lato";
    font-style: normal;
    font-size: 30px;
    color: #FFFFFF;
    padding-top: 10px;

    text-align: center;
    width: 95%;
    height: 66px;
    left: 261px;
    top: 878px;
    background: #FFB800;
}

.activité_p {
    margin-top:15px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    max-width: 95%;

    color: #000000;
}
.img_activité_div{
    display: flex;
}
.img_activité {
    margin-right: 15px;
    border-radius: 20px;
    max-width: 100%;
    max-height: 100%;
    padding: auto;
    margin: auto;
    display: block;
}
/*  =================================================================  */




/*  =================================================================  */